<?xml version="1.0" encoding="UTF-8"?>

<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd">

    <arg name="basepath" value="./app"/>
    <arg name="no-cache"/>
    <arg name="colors"/>
    <arg name="extensions" value="php"/>
    <arg value="p"/>

    <rule ref="PSR12">
        <exclude name="PSR2.Classes.ClassDeclaration"/>
    </rule>

    <rule ref="Generic.Files.LineLength">
        <properties>
            <property name="lineLimit" value="140"/>
        </properties>
    </rule>

    <file>app/</file>
    <file>bootstrap/</file>
    <file>config/</file>
</ruleset>
